.sapMListBGSolid .sapMLIB{
    padding:0 0 0 0;
    background-color:green; /*The back ground color will be driven by a less mix for each element and set by ID*/
}

.deskTopList{
  background-image:url("../image/ListBackground.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.sapMSLITitleOnly{
    color:white;
    text-align:center;
    
}

.hover{
    color:red;
}

